In [1]:
# Import base Libraries
import pandas as pd
# import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# add the scripts directory to the python path, or the set of places the python interpreter looks for code files
import sys
sys.path.insert(0, './ds_helpers')

# now read in the functions
from helpers import read_in_dataset, merge_dataset

### Import Data

In [3]:
dataset_folder = '../datasets/zillow/'

In [4]:
!ls ../datasets/zillow/

properties_2016.csv
properties_2017.csv
sample_submission.csv
train_2016.csv
train_2017.csv
zillow_data_dictionary.xlsx

In [5]:
data_dictionary = pd.read_excel(f'{dataset_folder}/zillow_data_dictionary.xlsx')

In [6]:
data_dictionary.head()

,Feature,Description
0,'airconditioningtypeid',Type of cooling system present in the home (i...
1,'architecturalstyletypeid',"Architectural style of the home (i.e. ranch, ..."
2,'basementsqft',Finished living area below or partially below...
3,'bathroomcnt',Number of bathrooms in home including fractio...
4,'bedroomcnt',Number of bedrooms in home

In [7]:
properties = read_in_dataset(dataset_folder,"properties_2016.csv",True)

C:\Users\wildt\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

------------------------------------------

Reading in the properties_2016.csv dataset:

------------------------------------------

it has 2985217 rows and 58 columns

------------------------------------------

It has the following columns

Index(['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock'],
      dtype='object')

------------------------------------------

 The first 5 rows look like this:

   parcelid  airconditioningtypeid  architecturalstyletypeid  basementsqft  \
0  10754147                    NaN                       NaN           NaN
1  10759547                    NaN                       NaN           NaN
2  10843547                    NaN                       NaN           NaN
3  10859147                    NaN                       NaN           NaN
4  10879947                    NaN                       NaN           NaN

   bathroomcnt  bedroomcnt  buildingclasstypeid  buildingqualitytypeid  \
0          0.0         0.0                  NaN                    NaN
1          0.0         0.0                  NaN                    NaN
2          0.0         0.0                  NaN                    NaN
3          0.0         0.0                  3.0                    7.0
4          0.0         0.0                  4.0                    NaN

   calculatedbathnbr  decktypeid  ...  numberofstories  fireplaceflag  \
0                NaN         NaN  ...              NaN            NaN
1                NaN         NaN  ...              NaN            NaN
2                NaN         NaN  ...              NaN            NaN
3                NaN         NaN  ...              1.0            NaN
4                NaN         NaN  ...              NaN            NaN

   structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
0                         NaN                9.0          2015.0
1                         NaN            27516.0          2015.0
2                    650756.0          1413387.0          2015.0
3                    571346.0          1156834.0          2015.0
4                    193796.0           433491.0          2015.0

   landtaxvaluedollarcnt  taxamount  taxdelinquencyflag  taxdelinquencyyear  \
0                    9.0        NaN                 NaN                 NaN
1                27516.0        NaN                 NaN                 NaN
2               762631.0   20800.37                 NaN                 NaN
3               585488.0   14557.57                 NaN                 NaN
4               239695.0    5725.17                 NaN                 NaN

   censustractandblock
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 58 columns]
------------------------------------------